*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(0, 0, 0);
    color: white;
}

.maior{
    height: 100vh;
    margin: 2%;
}

.digitosUsuario{
    width: 100%;
    height: 20%;
    border: 1px solid beige;
}

.teclado{
    display: flex;
    flex-direction: column;
}
.teclado .l1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    /* border: 1px solid white; */
    margin-top: 2%;
    margin-bottom: 2%;
}
.teclado .l2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    /* border: 1px solid white; */
    margin-bottom: 2%;
}
.teclado .l3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    /* border: 1px solid white; */
    margin-bottom: 2%;
}
.teclado .l4{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    /* border: 1px solid white; */
    margin-bottom: 2%;
}
.btn{
    font-size: 4vh;
    color: white;
    border: none;
    border-radius: 100%;
    background-color: rgb(31, 31, 31);
    width: 20%;
    height: 9vh;
}

#btnC{
    color: red;
}

#btnP, #btnD, #btnx, #btn-, #btnPlus, #btnV, #btnM, #btnParenteses{
    color: rgb(17, 123, 17);   
}

#btnIg{
    background-color: rgb(17, 123, 17);
}

.btn:hover{
    font-size: 3vh;
    border: 4px solid black;
    
    transition: 0.7s;
    
}

#resultadoAnt{
    display: flex;
    flex-direction: row-reverse;
}

#resultMenor{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

.funcoesUsuario{
    height: 15%;
}